body {
    background-color: rgb(0, 0, 0);
}

#content {
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 24px;
}

h1 {
    color: brown;
    font-size: 5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 8ch;
    border-bottom: solid 20px brown;
    padding-bottom: 16px;
}

p {
    color: bisque;
    font-size: 1.3rem;
    font-family:'Gill Sans';
    width: 25ch;
    font-weight: 100;
    line-height: 1.5rem;
}

nav>button {
    color: bisque;
    background-color: black;
    border: solid 1px bisque;
    padding: 8px 16px;
    font-size: 1.3rem;
    font-family:'Gill Sans';
    font-weight: 100;
}

nav>button:active{
    color:brown;
    border: solid 1px brown;
    font-weight: 400;
}

nav {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 24px;
}

aside>p {
    color: bisque;
    font-size: 1rem;
    text-align: center;
    width: 100%;
}